
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<h2>İstatistikler</h2>
<div class="alert alert-primary">Toplam Yetenek Sayısı : @ViewBag.v1</div>
<div class="alert alert-danger">Toplam Yetenek Değeri : @ViewBag.v2</div>
<div class="alert alert-dark"> Yeteneklerin Ortalama  Değeri : @ViewBag.v3</div>
<div class="alert alert-info">80'Den Büyük Yetenek Sayısı : @ViewBag.v4</div>
<div class="alert alert-warning">En yüksek yetenek değeri : @ViewBag.v5</div>
<div class="alert alert-success">En düşük yetenek değeri : @ViewBag.v6</div>
<div class="alert alert-secondary">50'nin altında olan yetenek sayısı : @ViewBag.v7</div>
<div class="alert alert-dark">90 ve üstü olanların ortalaması : @ViewBag.v8</div>
<div class="alert alert-danger">En yüksek yetenek ismi : @ViewBag.v9</div>
<div class="alert alert-warning">En düşük yetenek ismi : @ViewBag.v10</div>

