@model List<Experience>
@{
    ViewData["Title"] = "ExperienceList";
    Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
}

<h2>Deneyim Listesi</h2>
<table class="table table-bordered"
    <tr>
        <th>#</th>
        <th>Şirket Adı</th>
        <th>Ünvan</th>
        <th>Çalışma Tarihi</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
                <tr>
                     <td>@item.ExperienceId</td>
                     <td>@item.CompanyName</td>
                     <td>@item.Title</td>
                     <td>@item.ExperienceDate</td>
                     <td>@item.Description</td>
                     <td><a href="/Experience/DeleteExperience/@item.ExperienceId"class="btn btn-danger">Sil</a></td>
                     <td><a href="/Experience/UpdateExperience/@item.ExperienceId"class="btn btn-success">Güncelle</a></td>
                </tr>
    }
    </table>
<a href="/Experience/CreateExperience" class="btn btn-info">Yeni Deneyim Girişi</a>
